html, body {
    height: 100%;
    margin: 0;
    font: 16px verdana;
    background: white;
    color: black;
}

#app {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 1060px;
}

#app-inner {
    display: flex;
    flex-wrap: wrap;
}

#svg-container {
    flex-shrink: 0;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#controls {
    border: none;
    flex: 1;
    max-width: 410px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

button {
    background-color: #f0f0f0;
    color: black;
    font-size: inherit;
    padding: 10px;
    border: 1px outset black;
}

button:active:enabled {
    border: 1px inset black;
}

button:hover:enabled, button:focus:enabled {
    background-color: white;
}

button:disabled {
    color: grey;
}

.indented {
    margin-left: 1.5em;
}

fieldset {
    margin-bottom: .5em;
    line-height: 2em;
}

legend {
    background: white;
    border: 1px solid grey;
    width: 98%;
    text-align: center;
    padding: 0;
}

legend a {
    text-decoration: none;
}

legend button {
    background: none;
    border: none;
    width: 100%;
}

.collapsed > :not(legend) {
    display: none;
}

.collapsed {
    border: none;
    margin-bottom: 0;
}

input[type="number"] {
   font: inherit;
   width: 6ch;
}

input:disabled+label {
   color: grey;
}

.flex {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.flex button, .flex div{
    flex: 1;
    padding: 4px;
    min-width: 100px;
    margin: 0 2px;
}

.flex div input[type="range"] {
    width: 100%;
}

.multiline {
    text-align: center;
    line-height: 1em;
}

.multiline label {
    display: inline-block;
}

#about {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: smaller;
}
